<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run</title>
    <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:replace="header :: header"></div>

<div class="bg-gray-500 lg:h-screen">
    <section class="text-gray-700 overflow-hidden bg-gray-100 lg:h-screen pt-24">
        <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <img alt="ecommerce" class="lg:w-1/2 w-full object-cover object-center rounded-2xl border border-gray-200"
                     th:src="${produit.urlPicture}" />
                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                    <h2 class="text-sm title-font text-gray-500 tracking-widest" th:text="${produit.marque}"></h2>
                    <h1 class="py-2 text-transparent bg-clip-text leading-12 bg-gray-900 lg:inline text-3xl" th:text="${produit.nom}"></h1>
                    <div class="flex mb-4">
              <span class="flex items-center">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-gray-900" viewBox="0 0 24 24">
                  <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                </svg>
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-gray-900" viewBox="0 0 24 24">
                  <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                </svg>
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-gray-900" viewBox="0 0 24 24">
                  <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                </svg>
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-gray-900" viewBox="0 0 24 24">
                  <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                </svg>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-gray-900" viewBox="0 0 24 24">
                  <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                </svg>
                <span class="text-gray-600 ml-3">4 Avis</span>
              </span>

                    </div>
                    <p class="leading-relaxed" th:text="${produit.description}"></p>
                    <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">


                        <div class="flex items-center">
                            <span th:if="${varianteProduit == null}" class="mr-3">Aucune pointure disponible | Article en rupture de stock</span>

                            <span class="mr-3">Pointures disponibles : </span>
                            <div class="relative">
                                <select th:if="${varianteProduit != null}" id="pointureDropdown" class="rounded border appearance-none border-gray-400 py-2 focus:outline-none focus:border-gray-900 text-base pl-3 pr-10">
                                    <option th:each="variante : ${varianteProduit}" th:value="${variante.id}" th:text="${variante.pointure}"></option>
                                </select>
                                <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                <path d="M6 9l6 6 6-6"></path>
            </svg>
        </span>
                            </div>

                        </div>
                    </div>
                    <div class="flex">
                        <span class="title-font font-medium text-2xl text-gray-900" th:text="${produit.prix + ' €'}"></span>
                        <button class="flex ml-auto text-white bg-gray-900 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 rounded" id="ajouterAuPanierButton">Ajouter au panier</button>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<div th:replace="footer :: footer"></div>

<div th:replace="cart :: cart"></div>

<script>
    document.getElementById('ajouterAuPanierButton').addEventListener('click', function() {
        var idVariante = document.getElementById('pointureDropdown').value;

        console.log("ID de la variante sélectionnée : " + idVariante);

        fetch('/addToCart/' + idVariante, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            credentials: 'same-origin'
        })
            .then(response => {
                console.log("Code d'état HTTP : " + response.status);
                if (response.ok) {
                    console.log("Action effectuée avec succès");
                    location.reload();
                } else {
                    console.log("Erreur inconnue : Code d'état " + response.status);
                }
            })
            .catch(error => {
                console.error('Erreur lors de la requête fetch:', error);
            });
    });
</script>



</body>
</html>
